<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" immediateFlush="false" append="false">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </Appenders>
    <Loggers>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </Loggers>
</Configuration>